.reveal h1, .reveal h2, .reveal h3 {
    color: #3d4d51;
}

.reveal {
    color: #46565b;
}

.reveal .slides section .fragment.current-visible {
    display: none;
}

.reveal .slides section .fragment.current-visible.current-fragment {
    display: block;
}

.reveal kbd {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #202020;
    display: inline-block;
    font-family: "SourceCodePro", monospace;
    padding: 0.1rem;
    font-size: 0.8em;
    white-space: nowrap;
}

.reveal table.log-levels {
    font-size: 0.8em;
}

.reveal table.log-levels th {
    font-weight: bold;
}

.reveal section pre {
    width: 100%;
}

.reveal section pre code {
    white-space: initial;
    color: white;
}

.reveal .fragment.inserts {
    display: none;
}

.reveal .fragment.removes:not(.visible), .reveal .fragment.removes:not(.visible) * {
    display: inline;
    opacity: 1;
    visibility: visible;
    color: inherit;
    background-color: inherit;
    font-weight: normal;
}

.reveal .fragment.removes.visible {
    display: none;
}

.reveal .fragment.inserts.visible {
    display: inline;
}

.reveal mark, .reveal mark * {
    font-weight: bold;
    background-color: #74BC74;
    color: #3f3f3f;
    border-radius: 3px;
}
